.dataList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 30px;
}

.btnWrapper {
    display: flex;
    justify-content: center;
}

.loadMoreBtn {
    background-color: rgb(255, 255, 255);
    color: rgb(60, 62, 68);
    border: none;
    border-radius: 6px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 3px 1px rgb(82, 86, 89);
    margin: 20px 30px;
}

.loadMoreBtn:active {
    transform: translateY(3px);
}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 40px;
}
