.data-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 10px 0;
    width: 300px;
}
