@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;;
  background-color: rgb(36, 40, 47);
}

main {
  margin-top: 7rem;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 6px 0;
}
